* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#form {
  height: inherit;
  width: 90%;
  border: 3px solid indigo;
}

.hide-section {
  display: none;
  pointer-events: none;
}
#table-container,
#column-container,
#schema-container {
  height: 100px;
  width: 100%;
  border: 4px solid purple;
}
